/*FONT DECLARATION*/
*{
  color: #eceff1;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Exo', sans-serif;
}
/*END FONT*/

.grey-section-headers{
  color: white;
  font-weight: bold;
  text-shadow: 1px 2px black;
  letter-spacing: 10px;
}
.black-section-headers{
  /*color: #BDBDBD;*/
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px #BDBDBD;
  letter-spacing: 10px;
}




/*START NAV*/
/*Start Nav Large Sidebar*/
#Nav-Logo{
  margin-top: 15%;
  width: 100%;
  height: 100%;
}
#slide-out{
  background-color: #e0e0e0;
  width: 12%;
}
#large-nav-links-container{
  margin-top: 35%;
  letter-spacing: 2px;
}
/*End Nav Large Sidebar*/

/*Start Nav Medium*/
.nav-wrapper{
  background-color: #e0e0e0;
}
#nav-medium-logo-text{
  color: black;
  margin-left: 3%;
}
#nav-medium-links-container{
  background-color: #e0e0e0;
  color: black;
}
.nav-medium-links{
  color: black;
}
/*End Nav Medium*/

/*Start Nav Small*/
#dropdown-button{
  color: #424242;
}
#small-nav-dropdown{
  width: auto;
}
#small-nav-logo{
  color: black;
}
#small-nav-link{
  color: black;
  /*margin: 5% 0 0 0;*/
}
#small-nav-icon{
  display: inline-block;
  margin: 5% 5% 0 0;
}
/*End Nav Small*/
/*END NAV*/


/*START HOME*/
#home-header{
  color: #e0e0e0;
  text-shadow: 1px 2px black;
}
#home-subheader{
  color: #BDBDBD;
  text-shadow: 2px 2px black;
}
.home-container-large{
  width: 88%;
  height: 100%;
  margin: 0 0 0 12%;
}
.home-container-medium{
  width: 100%;
}
#home-contact-btn{
  margin-top: 3%;
}
/*END HOME*/

/*START TOP PARA*/
#top-para-content-section{
  width: 100%;
  height: auto;
  background-color: #212121;
}
/*END TOP PARA*/

/*START ABOUT*/
.about-content-section{
  width: 100%;
  height: 45vh;
  background-color: #bdbdbd;
}
#about-text{
  color: #212121;
  font-size: 20px;
}
/*END ABOUT*/


/*START CAPABILITIES*/
#Capabilities{
  background-color: #212121;
}
#capabilities-text{
  color: #f5f5f5;
  font-size: 20px;
}
#Capabilities-Section-Lists{
  color: #f5f5f5;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bolder;
}
.Capabilities-hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    border-top: medium double #ffffff;
    color: #ffffff;
    text-align: center;
}
.Capabilities-hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
}
/*END CAPABILITIES*/


/*START APPLICATIONS*/
.applications-content-section{
  width: 100%;
  background-color: #bdbdbd;
}
#applications-text{
  color: white;
}
#Applications-Section-Lists{
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bolder;
  /*padding: 1% 0 1% 0;*/
}
.Applications-hr{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  border-top: medium double #000000;
  color: #000000;
  text-align: center;
}
.Applications-hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}
#carousel{
  margin-top: -10px;
}
.carousel{
  margin-bottom: -75px;
  margin-top: 25px;
}
#carousel-header{
  margin-top: 2%;
  margin-bottom: 0;
}
.carousel-img{
  width: 400px;
}
/*END APPLICATIONS*/


/*START FAQ*/
#FAQ{
  background-color: #212121;
}
#FAQ-List{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: #616161;
}
#collapsible-header{
  border-style: solid;
  border-width: thin;
  background-color: #dbdbdb;
  color: black;
  font-weight: 900;
  font-size: 20px;
}
#collapsible-body-answer{
  font-size: 18px;
}
#FAQ-icons{
  color: black;
}
/*END FAQ*/


/*START TESTIMONIALS*/

/*END TESTIMONIALS*/



/*START CONTACT / FOOTER*/
.footer{
  background-color: #212121;
  letter-spacing: 4px;
  font-weight: 800;
}
/*END CONTACT / FOOTER*/




/* PARARLLAX IMPORT*/
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
