<div class='home-container-large hide-on-med-and-down'>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" id='home-header'>Vahala Foam</h1>
        <div class="row center">
          <h4 class="header col s12 light" id='home-subheader'>There is more to foam than meets the eye.
          </h4>
          <br><br>
        </div>
        <!-- <h5 class='center'>At Vahala Foam, engineering products that deliver <em><strong>customization, support, comfort, and durability</em></strong> are key attributes to our success.</h5> -->
        <div class="row center" id='home-contact-btn'>
          <a href="#Contact" target="_self" class="btn-large waves-effect waves-light grey lighten">Contact</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para1.jpg" alt="Factory"></div>
  </div>


  <div class="container center" id='top-para-content-section'>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">whatshot</i></h2>
            <h5 class="center">Committment</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Pride</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Excellence</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="center about-content-section" id='About'>
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Vahala Foam</h4>
          <p id='about-text'>Vahala Foam Inc. has a long history in the foam industry. Dating back to the 1960's the Vahala family owned and operated a foam fabrication business which sold in 1987.
          <br>
          In 1991, Dave and Dan Vahala committed to a new idea of making a better business which focuses on being a top end foam supplier that provides the highest quality product with superior service at a competitive price. Throughout the years we have advanced in size and capabilities allowing us to provide our clients with the best in service, quality and price.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="center applications-content-section" id='Applications'>
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Applications</h4>
          <p id='applications-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para3.jpg" alt="Unsplashed background img 3"></div>
  </div>


  <div class="footer center">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 id='Contact'>Contact Us</h4>
          <p>
            VAHALA FOAM, INCORPORATED
            <br>
            930 Herman St |
            PO Box 2602 |
            Elkhart, IN 46515-2602
            <br>

            PH: 574-293-1287 |
            Fax: 574-293-1825</p>
        </div>
      </div>
    </div>
  </div>

</div>
