<div class='home-container-large hide-on-med-and-down'>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" id='home-header'>Vahala Foam</h1>
        <div class="row center">
          <h4 class="header col s12 light" id='home-subheader'><em>There is more to foam than meets the eye.</em>
          </h4>
          <br><br>
        </div>
        <br><br>
        <div class="row center" id='home-contact-btn'>
          <a href="#Contact" target="_self" class="btn waves-effect waves-light grey lighten">Contact</a>
        </div>
        <h5 class='center'>At Vahala Foam, engineering products that deliver <em><strong>customization, support, comfort, and durability</em></strong> are key attributes to our success.</h5>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para1.jpg" alt="Factory"></div>
  </div>


  <div class="container center" id='top-para-content-section'>
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">verified_user</i></h2>
            <h5 class="center">Committment</h5>
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">star</i></h2>
            <h5 class="center">Pride</h5>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">brightness_auto</i></h2>
            <h5 class="center">Excellence</h5>
            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>
      <!-- END ICON SECTION -->
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para2.jpg" alt="Shipping Dock for Vahala Foam"></div>
  </div>
  <div class="center about-content-section" id='About'>
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 class='grey-section-headers'>About Vahala Foam</h4>
          <br>
          <p id='about-text'>Vahala Foam Inc. has a long history in the foam industry. Dating back to the 1960's the Vahala family owned and operated a foam fabrication business which sold in 1987.
          <br><br>
          In 1991, Dave and Dan Vahala committed to a new idea of making a better business which focuses on being a top end foam supplier that provides the highest quality product with superior service at a competitive price. Throughout the years we have advanced in size and capabilities allowing us to provide our clients with the best in service, quality and price.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Rollers-Para.jpg" alt="Foam Factory Product Rollers"></div>
  </div>
  <div class="center" id='Capabilities'>
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 class='black-section-headers'>Capabilities</h4>
          <p id='capabilities-text'>At Vahala Foam, Inc. customization is a strategic factor to designing quality products. Our team of design experts are educated and experienced in the latest technology.
          <br>
          We have the ability to develop customized products from the uncomplicated to the complex. We believe in devoting our knowledge, talent and resources to providing you with the best possible solution. One of our strengths is the dedication to working along side our clients to develop a superior product that not only offers support, but is also comfortable and durable.</p>
        </div>
      </div>
      <br>
      <hr class='Capabilities-hr'>
      <div class="row">
        <div class="col s12 center">
          <br>
          <h4 class='black-section-headers'>R&D Abilities</h4>
          <br>
            <ul class='col s12 m4 l4'>
              <li id="Capabilities-Section-Lists">CNC Contour Cutting</li>
              <li id="Capabilities-Section-Lists">Foam Laminating</li>
              <li id="Capabilities-Section-Lists">Product Design</li>
            </ul>
            <ul class='col s12 m4 l4'>
              <li id="Capabilities-Section-Lists">Custom Foam Assemblies</li>
              <li id="Capabilities-Section-Lists">Convoluted Foam</li>
              <li id="Capabilities-Section-Lists">CAD/CAM</li>
            </ul>
            <ul class='col s12 m4 l4'>
              <li id="Capabilities-Section-Lists">Foam Die Cutting</li>
              <li id="Capabilities-Section-Lists">Prototyping</li>
              <li id="Capabilities-Section-Lists">Dual Density Construction</li>
            </ul>
            <br>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Saw2-Parallax.jpg" alt="Foam Factory Product Rollers"></div>
  </div>
  <div class="center applications-content-section" id='Applications'>
    <div class="section">
      <div class="row">
        <div class="col s12 m6 l6 center">
          <h4 class='grey-section-headers'>Applications</h4>
          <br>
            <ul>
              <li id="Applications-Section-Lists">Automotive Seating</li>
              <li id="Applications-Section-Lists">Furniture - (Marine, Medical, R. V., Office)<li>
              <li id="Applications-Section-Lists">Furniture Cushions</li>
              <li id="Applications-Section-Lists">Mattresses</li>
              <li id="Applications-Section-Lists">Pillows</li>
              <li id="Applications-Section-Lists">Carpet Padding</li>
              <li id="Applications-Section-Lists">Protective Packaging</li>
            </ul>
        </div>
        <div class="col s12 m6 l6 center">
          <h4 class='grey-section-headers'>Foam Products</h4>
          <br>
            <ul class='col s12 m6 l6'>
              <li id="Applications-Section-Lists">Polyurethane</li>
              <li id="Applications-Section-Lists">Close Cell Cross Linked</li>
              <li id="Applications-Section-Lists">Densified Polyester Fiber</li>
              <li id="Applications-Section-Lists">High Resiliency HR</li>
              <li id="Applications-Section-Lists">Anti - Microbial</li>
              <li id="Applications-Section-Lists">High Compression</li>
            </ul>
            <ul class='col s12 m6 l6'>
              <li id="Applications-Section-Lists">Reticulated</li>
              <li id="Applications-Section-Lists">Sound Absorbing</li>
              <li id="Applications-Section-Lists">Foam Roll Stock with Backing</li>
              <li id="Applications-Section-Lists">Visco Elastic - Memory</li>
              <li id="Applications-Section-Lists">Dacron and Fiber</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="center" id='carousel'>
    <div class="section applications-content-section">
      <div class="row">
        <div class="col s12 center">
          <hr class="Applications-hr">
          <h4 class='grey-section-headers' id='carousel-header'>The Vahala Way</h4>
          <div class="carousel">
            <a class="carousel-item" href="#one!"><img class='carousel-img' src="/images/Carousel/Bob1.jpg"></a>
            <a class="carousel-item" href="#two!"><img class='carousel-img' src="/images/Carousel/Foam-Bin.jpg"></a>
            <a class="carousel-item" href="#three!"><img class='carousel-img' src="/images/Carousel/RD.jpg"></a>
            <a class="carousel-item" href="#four!"><img class='carousel-img' src="/images/Carousel/Saw1.jpg"></a>
            <a class="carousel-item" href="#five!"><img class='carousel-img' src="/images/Carousel/Saw2.jpg"></a>
            <a class="carousel-item" href="#six!"><img class='carousel-img' src="/images/Carousel/Glue-Station.jpg"></a>
            <a class="carousel-item" href="#sevent!"><img class='carousel-img' src="/images/Carousel/Bob2.jpg"></a>
            <a class="carousel-item" href="#eight!"><img class='carousel-img' src="/images/Carousel/Saw3.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Saw1-Parallax.jpg" alt="Shipping Dock for Vahala Foam"></div>
  </div>
  <div class="center FAQ-content-section" id='FAQ'>
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 class='grey-section-headers'>VF's Frequently Asked Questions</h4>
          <br>
          <ul class="collapsible" id='FAQ-List' data-collapsible="accordion">
            <li>
              <div class="collapsible-header active" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. If I have an idea for a seat, chair or fitting any structure with foam, what do you need from me to get the procedure started?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Pictures and dimensions of frame. Any sketches of finished product will get the procedure started.</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Do you consult as to what types of foam to use for a certain application?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Yes. We can guide you with the design and the comfort level to give you the best price for your product.</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Do you sell to the public?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Yes, absolutely. All inquiries are welcomed.</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Do you deal with Styrofoam? What kind of foam to you deal with?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Yes. We have a source for this product. We deal with polyurethane, polyethylene, Visco Elastic (memory foam)</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Can you cut the foam?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Yes. We have the ability to cut and glue to fit your size applications.</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Do you have standard sizes?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. No. We will cut to accommodate your order size.</p></div>
            </li>
            <li>
              <div class="collapsible-header" id='collapsible-header'><i class="material-icons" id='FAQ-icons'>question_answer</i>Q. Do you deliver and what is your delivery area?</div>
              <div class="collapsible-body" id='collapsible-body-answer'><p>A. Yes. Primarily in the states of IN, MI, OH and IL.</p></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <div class="footer center">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h4 class='black-section-headers' id='Contact'>Contact Vahala Foam</h4>
          <p>
            VAHALA FOAM, INCORPORATED
            <br>
            930 Herman St |
            PO Box 2602 |
            Elkhart, IN 46515-2602
            <br>
            PH: 574-293-1287 |
            Fax: 574-293-1825</p>
        </div>
      </div>
    </div>
  </div>


</div>












<!-- NOte CHANGE THIS PART AS THE TOP PART IS FINSIHED -->
<div class="home-container-med-and-small hide-on-large-only">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" id='home-header'>Vahala Foam</h1>
        <div class="row center">
          <h4 class="header col s12 light" id='home-subheader'><em>There is more to foam than meets the eye.</em>
          </h4>
          <br><br>
        </div>
        <!-- <h5 class='center'>At Vahala Foam, engineering products that deliver <em><strong>customization, support, comfort, and durability</em></strong> are key attributes to our success.</h5> -->
        <div class="row center" id='home-contact-btn'>
          <a href="#med-contact" target="_self" class="btn-large waves-effect waves-light grey lighten hide-on-large-only hide-on-small-only">Contact</a>
          <a href="#small-contact" target="_self" class="btn-large waves-effect waves-light grey lighten hide-on-med-and-up">Contact</a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para1.jpg" alt="Factory"></div>
  </div>


  <div class="container center" id='top-para-content-section'>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">whatshot</i></h2>
            <h5 class="center">Committment</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Pride</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Excellence</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para2.jpg" alt="Unsplashed background img 2"></div>
    <span id='med-about'></span>
  </div>
  <span id='small-about'></span>

  <div class="center about-content-section" id='About'>
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About Vahala Foam</h4>
          <p id='about-text'>Vahala Foam Inc. has a long history in the foam industry. Dating back to the 1960's the Vahala family owned and operated a foam fabrication business which sold in 1987.
          <br>
          In 1991, Dave and Dan Vahala committed to a new idea of making a better business which focuses on being a top end foam supplier that provides the highest quality product with superior service at a competitive price. Throughout the years we have advanced in size and capabilities allowing us to provide our clients with the best in service, quality and price.</p>
        </div>
      </div>

    </div>
    <span id='med-applications'></span>
  </div>

  <span id='small-applications'></span>
  <div class="center applications-content-section" id='Applications'>
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Applications</h4>
          <p id='applications-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/parallax/Para3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <span id='med-contact'></span>
  <span id='small-contact'></span>

  <div class="footer center">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4 class='black-section-headers'>Contact Us</h4>
          <p>
            VAHALA FOAM, INCORPORATED
            <br>
            930 Herman St |
            PO Box 2602 |
            Elkhart, IN 46515-2602
            <br>

            PH: 574-293-1287 |
            Fax: 574-293-1825</p>
        </div>
      </div>
    </div>
  </div>
</div>
